*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style-type: square;
}
li{
    text-decoration: none;
}
body{
    scroll-behavior: smooth;
    /* border: 1px solid red; */
}
a{
    text-decoration: none;
}
header{
    height: 100vh;
    position: fixed;
    z-index: 1;
    width: 384px;
    overflow: hidden;
    overflow-y: scroll;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.3) ;
}
nav h1{
    /* border: 1px solid red; */
    padding: 8px 0;
    font-size: 28px;
    background-color: #0F56B3;
    color: #ffffff;
    border-bottom: 3px solid #0F56B3;
    position: fixed;
    top: 0;
    width: 368px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
nav ul li{
    /* border: 1px solid red; */
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #616161;
    border-bottom: 1px solid #616161;
    /* border: 1px solid red; */
    width: 100%;
}
nav ul{
    margin-top: 60px;
}
nav ul li:hover{
    background-color: hsla(0, 0%, 0%, 0.15);
    transition: 0.4s ease-in-out;
}
.main{
    /* border: 1px solid red; */
    flex: 1;
    margin: 0px 60px 0 382px;
    /* border-right: 2px solid #616161; */
    padding: 20px 40px;
}
h2{
    font-size: 22px;
    font-weight: 700;
    color: #0F56B3;
    border-bottom: 3px solid #0F56B3;
    padding-bottom: 2px;
}
section{
    margin-bottom: 50px;
}
.main section article p{
    margin: 20px 60px 20px 40px;
}
.main section article li{
    margin: 20px 60px 20px 40px;
}
p, li{
    font-weight: 500;
    color: #616161;
}