*{
    padding: 0;
    margin: 0;
    font-family: poppins;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
li{
    text-decoration: none;
}
ul{
    list-style: none;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    /* border: 1px solid red; */
}
nav{
    flex: 1;
    text-align: right;
    /* border: 1px solid red; */
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    /* border: 1px solid red; */
}
.cont{
    max-width: 1400px;
    margin: auto;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid red; */
}
.col2{
    flex-basis: 50%;
    min-width: 300px;
    /* border: 1px solid red; */
}
.col2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background-color: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.header .row{
    margin-top: 70px;
}
.btn:hover{
    background: #563434;
    transform: translateY(-5px);
}
.cat{
    margin: 70px 0;
}
.col3{
    flex-basis: 30%;
    min-width: 250px;
}
.col3 img{
    width: 100%;

}
.smallcont{
    max-width: 1080px;
    margin: auto;
    /* border: 1px solid red; */
}
.col4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
	transition: 0.5s;
}
.col4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
    border-bottom: 4px solid #ff523b;
}
h4{
    color: #555;
    font-weight: normal;
}
.col4 p{
    font-size: 14px;
}
.ratting .fa{
    color: #ff523b;
}
.col4:hover{
    transform: translateY(-5px);
}
.offer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#fff,#ffd6d6);
    padding: 30px 0;
}
.offer div h1{
    margin: 10px 0;
}
.offer div{
    max-width: 600px;
}
.offer img{
    height: 300px;
    transition: 0.5s;
}
.offer img:hover{
    transform: translateY(-5px);
}
.testimonial{
    margin-top: 30px;
    padding: 30px;
}
.testimonial .col3{
    text-align: center;
}
.testimonial .col3 img{
    border-radius: 50%;
    width: 80px;
    margin-top: 5px;
}
.testimonial .col3 .fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col3{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    padding: 20px 20px;
    transition: 0.5s;
}
.col3:hover{
    transform: translateY(-5px);
}
.col3 h4{
    font-weight: 700;
}
.brand{
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    margin: 60px 0;
}
.brand img{
    transition: 0.5s;
    margin: 30px 0;
    margin: 0 20px;
}
.brand img:hover{
    transform: translateY(-5px);
}
.footer{
    background-color: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 40px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: white;
    margin-bottom: 20px;
}
.fcol1, .fcol2, .fcol3, .fcol4{
    min-width: 250px;
    margin-bottom: 20px;
}
.fcol1{
    flex-basis: 30%;
    text-align: center;
}
.fcol2{
    flex: 1;
    text-align: center;
}
.fcol2 img{
    width: 150px;
    margin-bottom: 20px;
    transition: 0.5s;
}
.fcol3{
    text-align: center;
}
.fcol4{
    text-align: center
}
.flogo{
    margin-top: 20px;
}
.flogo img{
    width: 140px;
    transition: 0.5s;
}
.flogo img:hover{
    transform: translateY(-5px);
}
.fcol2 img:hover{
    transform: translateY(-5px);
}
hr{
    border: none;
    background: #ff523b;
    height: 3px;
    margin: 10px 0;
}
.copy{
    text-align: center;
    margin-top: 20px;
}
nav ul li{
    transition: 0.5s;
}
nav ul li:hover{
    transform: translateY(-2px);
}
.cart{
    transition: 0.5s;
    margin-left: 20px;
}
.cart:hover{
    transform: translateY(-5px);
}